
.headerImage{
  width: 100%;
  height: 580px;
object-fit: cover;
position: relative;
margin-top: -12rem;
z-index: -1;

}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 70px;
  position: relative;
 color: red; 


}


 

